:root {
  /* primary colours */
  --cyan: hsl(179, 62%, 43%);
  --bright-yellow: hsl(71, 73%, 54%);
  /* neutral colours */
  --light-gray: hsl(204, 43%, 93%);
  --gray-blue: hsl(218, 22%, 67%);
  /* font family */
  --font-family: "Karla", sans-serif;
  /* font sizes */
  --font-size-xs: 0.875rem; /* 14px */
  --font-size-sm: 0.9375rem; /* 15px */
  --font-size-base: 1rem; /* 16px */
  --font-size-md: 1.125rem; /* 18px */
  --font-size-lg: 1.25rem; /* 20px */
  --font-size-xl: 1.5rem; /* 24px */
  --font-size-xxl: 2rem; /* 32px */
  /* font weights */
  --font-weight-regular: 400;
  --font-weight-bold: 700;
}
